/* Common */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* Debug */ 
/* .debug nav{
    background-color: turquoise;
} */

.debug .text{
    width: 580px;
    background-color:yellowgreen;
    height: 180px;
    float: left;
}
/* Navbar */
.navbar {
    position: fixed;
    right: 0;
    top:2rem;
    padding: 1rem; 
    z-index: 10; 
}
a {
    background: white;
    border-radius: 100%;
    font-size: 1.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 1rem;
    text-decoration: none;
}
.container_1{
    background-color: rgb(255, 0, 0);
    height: 100vh;
    position: relative;
}
.container_2{
    background-color:green;
    height: 100vh;
    position: relative;
}
.container_3{
    background-color:yellow;
    height: 100vh;
    position: relative;
}
.img_text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.differente, .tommy{
    color: yellow;
    font-size: 4.5rem;
    text-align: center;
    width: 800px;
}
.converse{
    color:green;
    font-size: 4.5rem;
    text-align: center;
    width: 800px;
}
